* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

#page_header,
#global_nav,
#main,
#page_footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #page_header:before, #page_header:after,
  #global_nav:before,
  #global_nav:after,
  #main:before,
  #main:after,
  #page_footer:before,
  #page_footer:after {
    content: " ";
    display: table; }
  #page_header:after,
  #global_nav:after,
  #main:after,
  #page_footer:after {
    clear: both; }

* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section,
nav,
header,
aside {
  display: block; }

em {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

.is-visible,
.block {
  display: block; }

.is-hidden {
  display: none; }

.hide-text {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden; }

label.radio,
label.checkbox {
  margin-right: 20px; }

select {
  width: 100%; }
